apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "galley-agent.fullname" . }}
  labels:
    {{- include "galley-agent.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  {{- with .Values.strategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "galley-agent.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "galley-agent.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "galley-agent.serviceAccountName" . }}
      {{- with .Values.galley.hostAliases }}
      hostAliases:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: agent
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
            {{- if .Values.debug.enabled }}
            - name: jvm-debug
              containerPort: {{ .Values.debug.port }}
              protocol: TCP
            {{- end }}
          env:
            - name: GALLEY_AGENT_ID
              valueFrom:
                configMapKeyRef:
                  name: {{ include "galley-agent.fullname" . }}-config
                  key: GALLEY_AGENT_ID
          volumeMounts:
            - name: config
              mountPath: /app/conf.json
              subPath: conf.json
              readOnly: true
            - name: config
              mountPath: /etc/ssl/certs/galley-rootCA.pem
              subPath: galley-rootCA.pem
              readOnly: true
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      volumes:
        - name: config
          configMap:
            name: {{ include "galley-agent.fullname" . }}-config
            items:
              - key: conf.json
                path: conf.json
              - key: galley-rootCA.pem
                path: galley-rootCA.pem
      restartPolicy: Always
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
